apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-backend-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo-backend
  template:
    metadata:
      labels:
        app: todo-backend
    spec:
      volumes:
        - name: shared-image
          persistentVolumeClaim:
            claimName: local-pv-claim
      containers:
        - name: todo-backend-container
          #image: arkb2023/todo-backend:3.5.1  # image name/tag
          image: arkb2023/todo-backend:latest  # Generic placeholder
          volumeMounts:
          - name: shared-image
            mountPath: /usr/src/app/files
          env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace  # staging/production

          envFrom:
          # For todo backend specific environment variables
          # -----------------------------------------------
          - configMapRef:
              name: todo-backend-config

          # For postgres credientials specific environment variables
          # -----------------------------------------------
          - configMapRef:
              name: postgres-db-config
          - secretRef:
              name: postgres-db-secret

          # health check probe
          # -----------------------------------------------
          readinessProbe:
            httpGet:
              path: /todos/healthz
              port: 3000  # FastAPI port
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3

          # Resource requests and limits
          # -----------------------------------------------
          resources:
            requests:
              cpu: "250m"           # Minimum CPU needed
              memory: "256Mi"       # Minimum memory needed
            limits:
              cpu: "500m"           # Maximum CPU allowed
              memory: "512Mi"
