apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: production

resources:
- persistentvolume.yaml
- persistentvolumeclaim.yaml
- ../../base
- todo-ingressroute.yaml
- postgresql-init-script.yaml
- postgresql-backup-cronjob.yaml

patches:
- path: broadcaster-patch.yaml
- path: postgresql-configmap-patch.yaml
- path: postgresql-statefulset-patch.yaml

namePrefix: production-

# Broadcaster
# Todo App (frontend)
# Todo backend
images:
- name: arkb2023/broadcaster:latest
  newName: arkb2023/broadcaster
  newTag: v4.9.9
- name: arkb2023/todo-app:latest
  newName: arkb2023/todo-app
  newTag: v4.9.9
- name: arkb2023/todo-backend:latest
  newName: arkb2023/todo-backend
  newTag: v4.9.9
